{% load static %}
<!-- vue_grid.htmlは表示項目に合わせてちょっと改造。 -->
<html>
<head>
  <title>Welcome to Vue</title>
  <!-- CSS読み込み -->
  <link rel="stylesheet" type="text/css" href="{% static 'stocks/vue_grid.css' %}">

  <!-- JS(CDN)読み込み -->
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- Axios（vue-resourceの代わり） -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
          {% verbatim %}{{ key | capitalize }}{% endverbatim %}
          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in filteredData">
        <td v-for="key in columns">
          {% verbatim %}{{entry[key]}}{% endverbatim %}
        </td>
      </tr>
    </tbody>
  </table>
</script>

<div id="demo">
  <form id="search">
    Search <input name="query" v-model="searchQuery">
  </form>
  <demo-grid
    :data="gridData"
    :columns="gridColumns"
    :filter-key="searchQuery">
  </demo-grid>
</div>
</body>

<!-- JS読み込み -->
<!--<script src="/static/stocks/vue_grid.js"></script>-->
<script src="{% static 'stocks/vue_grid.js' %}"></script>
</html>
